<hr>
<div style="margin:20px 80px">
  <div style="display: flex; justify-content: space-between;">
    <span>
      <p style="font-size: 14px; font-weight: bold;">Category</p>
      <p>vegetables</p>
      <p>dairy products</p>
      <p>cereals</p>
      <p>beverages</p>
      <p>fruits</p>
      <p>bakery and biscuits</p>
    </span>
    <span>
      <p style="font-size: 14px; font-weight: bold;">Company</p>
      <a routerLink="/about"><p>About</p></a>
      <a routerLink="/contactus"><p>Contact</p></a>
    </span>
  </div>
  <div>
    <span>
      Follow Us 
      <img style="width: 30px; height: 30px; margin: 5px;" src="https://th.bing.com/th/id/OIP.ONTuZbY76JmhJBrrqIOMXQHaHa?pid=ImgDet&rs=1">
      <img style="width: 30px; height: 30px; margin: 5px;" src="https://th.bing.com/th/id/OIP.VMz6ofsajItn_yixCpR6HAAAAA?pid=ImgDet&rs=1">
      <img style="width: 30px; height: 30px; margin: 5px;" src="https://th.bing.com/th/id/OIP.WMBLcw8nyfhJSC97HOjq-AAAAA?pid=ImgDet&rs=1">
      <img style="width: 30px; height: 30px; margin: 5px;" src="https://th.bing.com/th/id/OIP.JLDJPBB6pTI8jlZrdzGXvAHaHa?pid=ImgDet&rs=1">
    </span>
  </div>
</div>