<h1 style="text-align: center; font-weight: 400; color: brown;">Contact Us</h1>
<div style="display: flex; justify-content: center; margin: 10px">
  <mat-card class="example-card" style="width: 450px">
    <mat-card-header style="justify-content: center">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Online Grocery Store</mat-card-title>
      <!-- <mat-card-subtitle>Contact Please</mat-card-subtitle> -->
    </mat-card-header>
    <img
      mat-card-image
      src="https://th.bing.com/th/id/R.6db43565fd76330d745dec8a89ca50f9?rik=nUtEooqE7PH61A&riu=http%3a%2f%2fwww.weekendnotes.com%2fim%2f007%2f03%2fgrocery-grocer-the-grocery-store1.jpg&ehk=hUyr%2bdK4aYr6%2fYrMbsmTTlmN5YvWFr8%2bC6s6f0KYR3k%3d&risl=&pid=ImgRaw&r=0"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p style="text-align: center;">
        To reach our customer service team please email us at:<br /><span
          style="color: brown"
          >customerservice@groceryshop.com</span
        >
      </p>
      <p style="text-align: center;">
        Office Address:<br /><span style="color: brown;"
          >Supermarket Grocery Supplies Pvt. Ltd. 2nd Floor, Fairway Business
          Park, Embassy Golf Link, Challaghatta, Bangalore, Karnataka
          560071</span
        >
      </p>
    </mat-card-content>
  </mat-card>
</div>
