<div style="display: flex; justify-content: space-around;"> 
  <mat-card class="example-card" *ngFor="let grocery of grocery">
    <mat-card-header class="product-title">
      <mat-card-title *ngIf="grocery.groceryName == 'Tomato'">{{grocery.groceryName}}</mat-card-title>
    </mat-card-header>
    <img 
    *ngIf="grocery.groceryName == 'Tomato'"
    style="width: 400px; height: 290px;"
      mat-card-image
      src="https://th.bing.com/th/id/OIP.K20MFvof6hGk2Q1ZE8vw8AHaFG?pid=ImgDet&rs=1"
      alt="Photo of a Tomato"
    />
    <div *ngIf="grocery.groceryName == 'Tomato'">
      <div style="display: flex; justify-content: space-between;">
        <span class="rate"></span>
        <span class="qnt"></span>
        <span style="text-align: center;">Soybean oil is a vegetable oil extracted from the seeds <br>of the soybean. It is one of the most widely consumed cooking oils and<br> the second most consumed vegetable oil. </span>
      </div>
      <div style="display: flex; justify-content: center;">
        <!-- <button mat-raised-button color="primary">Add To Cart</button> -->
      </div>
    </div>
  </mat-card>
</div>
